#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
}

#rect-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: white;
}

#horizontal-bar {
  position: absolute;
  width: 50%;
  height: 15%;
  background: navy;
  z-index: 10;
  margin-left: 25%;
  margin-top: 24%;
}

#vertical-bar {
  position: absolute;
  width: 50%;
  height: 15%;
  background: navy;
  z-index: 10;
  margin-left: 25%;
  margin-top: 24%;
  transform: rotate(90deg);
}
